@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

body {
  width: 375px;
  height: 667px;
  background-color: #d5e1ef;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blue_box {
  width: 288px;
  height: 288px;
  background-color: #2c7dfa;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.container {
  width: 320px;
  height: 497px;
  background-color: white;
  border-radius: 20px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
}

.qr-code {
  width: 160px;
  height: 160px;
  display: block;
  margin: 0;
  background-color: transparent;
}

.Main_text {
  background-color: white;
  color: #1f314f;
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 22px;
  padding: 1px 15px 20px 15px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Small_text {
  background-color: white;
  color: #7d889e;
  font-weight: 400;
  padding: 0px 3px;
  text-align: center;
  line-height: 19px;
}

/* მობილე ვერსია ალბათ არ უნდა გაგვეკეთებინა მარა რავი გავაკეთე მაინც მგონი იგივეა ერთი ორი რაღაცაა შეცვლილი <3  */
