@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    background-color: #D5E1EF;
    font-family: "Outfit", sans-serif;
}

.blue_box {
    width: 288px;
    height: 288px;
    background-color: #2C7DFA;
    border-radius: 10px;
    justify-self: center;
    align-content: center;

}

.container {
    width: 320px;
    height: 497px;
    background-color: white;
    border-radius: 10px;
    justify-self: center;
    margin-top: 70px;
    padding-top: 14px;
}

.qr-code {
    width: 160px;
    height: 160px;
    justify-self: center;
}

.Main_text {
    background-color: white;
    color: #1F314F;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 22px;
    padding: 25px 15px 20px 15px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.Small_text {

    background-color: white;
    color: #7D889E;
    font-weight: 400;
    padding: 0px 30px;
    text-align: center;
    line-height: 19px;
}